.container 
    max-width: 398px
    margin: 0 auto

.newTaskSection
    padding: 50px 0  

.newTask

    &__title
        margin-left: 73px

    &__header
        display: flex
        margin-bottom: 30px
        align-items: center