.priority
    margin-top: 25px

    &__label
        margin-top: 15px
        display: flex
        justify-content: space-between

    &__input
        display: none

    &__number
        border: 1px solid white
        border-radius: 50%
        padding: 10px
        background: var(--Primary, #0D99FF)