.checkItem 
    &__label
        font-size: 18px
        font-weight: 50
        margin-bottom: 10px

    &__input
        font-size: 16px
        border-radius: 90px
        border: 1px solid #E2E2E2
        background: #FFF
        padding: 20px
        margin-top: 7px
        width: 100%